# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Deploy via ssh

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [20.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - uses: pnpm/action-setup@v2
              with:
                  version: 8
            - run: pnpm install --frozen-lockfile
            - run: pnpm run build

            - name: rsync deployments
              uses: burnett01/rsync-deployments@6.0.0
              with:
                  switches: -avzr --delete
                  path: dist/
                  remote_path: ${{ vars.DEPLOY_PATH }}
                  remote_host: ${{ secrets.DEPLOY_HOST }}
                  remote_user: ${{ vars.DEPLOY_USER }}
                  remote_key: ${{ secrets.DEPLOY_KEY }}
